<mat-card class="mat-mdc-card">
  <mat-card-content>
    <div class="card-images">
      <div class="circle">
        <app-image
          [src]="'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'"
          [circle]="true"></app-image>
      </div>
      <div class="description">
        Steffen Kirchner
      </div>
    </div>
    <div class="comment-title">
      Tolle Veranstaltung!
    </div>
    <div class="comment-date">
      Kommentar vom 16. August 2022
    </div>
    <div class="comment-description" [innerHTML]="'Lorem ipsum dolor sit amet consectetur. Sed enim sagittis turpis enim a. Malesuada ultrices odio nunc vel molestie arcu platea amet. Sit consectetur ornare non neque libero. Nunc commodo tortor scelerisque orci.'">
    </div>
  </mat-card-content>
</mat-card>
