.container {
  width: 50rem;

  div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    section {
      display: flex;
      margin-left: -1rem;

      app-avatar {
        width: 6rem;
        height: 6rem;
      }

      app-avatar:first-of-type {
        position: relative;
        z-index: 3;
      }

      app-avatar:nth-of-type(2) {
        left: -1.25rem;
        position: relative;
        z-index: 2;
      }

      app-avatar:nth-of-type(3) {
        left: -2.5rem;
        position: relative;
        z-index: 1;
      }

      a {
        align-self: center;
        color: black;
      }
    }

    button {
      max-width: max-content;
    }
  }
}