<div class="border-box">
  <h2 class="mat-headline-6" appLabel="deleteAccount"></h2>
  <div>
    <p appLabel="deleteAccountText"></p>
  </div>

  <section>
    <mat-radio-group>
      <mat-radio-button appLabel="reason1"></mat-radio-button>
      <mat-radio-button appLabel="reason2"></mat-radio-button>
      <mat-radio-button appLabel="reason3"></mat-radio-button>
      <mat-radio-button appLabel="reason4"></mat-radio-button>
    </mat-radio-group>
  </section>

  <button mat-flat-button color="primary" appLabel="continue"></button>
</div>