<div class="main">
  <app-page-title titleLabel="participate"></app-page-title>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="createOrganisation">
      <app-portal-participate-create-organisation></app-portal-participate-create-organisation>
    </mat-tab>
    <mat-tab label="joinOrganisation">
      <app-portal-participate-join-organisation></app-portal-participate-join-organisation>
    </mat-tab>
    <mat-tab label="becomeAuthor">
      <app-portal-participate-become-author></app-portal-participate-become-author>
    </mat-tab>
  </mat-tab-group>

  

</div>