<div class="main" *ngIf="eventDetails |async as event">
  <div>
    <app-category-piece [category]="event.category"></app-category-piece>
    <section>
      <button mat-button (click)="sendEmail(event.contact?.email)">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
      </button>      
      <app-social-share-button></app-social-share-button>
      <app-favorite-piece></app-favorite-piece>
    </section>
  </div>

  <p [innerHtml]="eventDetails | translatable : 'shortDescription' | async"></p>
 
  <div>
    <app-date-piece
          [date]="(eventDetails | async)?.schedule?.startDate">
    </app-date-piece>
    <app-address-piece
          [address]="(eventDetails | async)?.address">
    </app-address-piece>
  </div>

  <div>
    <span>
    <fa-icon size="1x" [icon]="['fas', 'ticket']"></fa-icon>
    {{ (event.entryFee !== null && event.entryFee !== undefined && event.entryFee !== 0) ? event.entryFee : "Kostenlos" }}
  </span>

  </div>

  <div>
    <span>
      <fa-icon size="1x" [icon]="['fas', 'user-group']"></fa-icon> 23/25
    </span>
    <button mat-flat-button color="primary">
        <fa-icon size="1x" [icon]="['fas', 'child-reaching']"></fa-icon>Teilnehmen
    </button>
  </div>

</div>
