.mat-mdc-card {
  max-width: 35rem;
  min-width: 25rem;
  box-shadow: none !important;
  background-color: transparent;
  border: none !important;
  padding: 1.5rem 0.8rem;
  margin: 1rem 0.5rem;

  mat-card-header {
    display: flex;
    justify-content: space-between;

    mat-card-title.title {
      font-size: 1rem;
      line-height: 2rem;
      padding: 0rem 0.8rem;
      background-color: var(--color-accent-600);
      color: var(--color-primary-contrast-300);
      border-radius: 1rem;
      align-self: center;
    }
    .mdc-card__actions {
      padding: 0;
      min-height: 2rem;
    }
  }

  .description {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .event-detail-description {
    margin: 2rem 0;
  }

  .event-detail-contact {
    display: flex;
    flex-direction: column;
    .event-detail-contact-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      app-date-piece {
        flex: 1;
      }

      app-address-piece {
        flex: 1;
      }
    }

    .ticket {
      margin-top: 1.5rem;
    }

    .attender {
      margin-top: 1.5rem;
      display: flex;
      span {
        margin-right: 0.5rem;
        padding-top: 0.5rem;
      }
      button {
        color: var(--color-primary-contrast-300);
        background-color: var(--color-primary-500);
        width: 9rem;
        height: 2.2rem;
        margin-left: 0.5rem;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        border: none;
      }
    }
  }
}
