<mat-card class="mat-mdc-card">
  <mat-card-header>
    <mat-card-title class="title">{{
      (eventDetails | async)?.category | translatable : "name" | async
    }}</mat-card-title>

    <mat-card-actions>
      <button
        mat-icon-button
        align="end"
        aria-label="Share button"
      >
        <fa-icon size="1x" [icon]="['fas', 'share-nodes']"></fa-icon>
      </button>
      <button
        mat-icon-button
        align="end"
        aria-label="Like button"
      >
        <fa-icon size="1x" [icon]="['far', 'heart']"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    <div
      class="description"
      [innerHtml]="eventDetails | translatable : 'shortDescription' | async"
    ></div>

    <div class="event-detail-contact">
      <div class="event-detail-contact-info">
        <app-date-piece
          [date]="(eventDetails | async)?.schedule?.startDate"
        ></app-date-piece>
        <app-address-piece
          [address]="(eventDetails | async)?.address"
        ></app-address-piece>
      </div>
      <div class="ticket">
        <fa-icon size="1x" [icon]="['fas', 'ticket']"></fa-icon>
        {{ (eventDetails | async)?.entryFee ?? "Kostenlos" }}
      </div>
      <div class="attender">
        <span>
          <fa-icon size="1x" [icon]="['fas', 'user-group']"></fa-icon> 23/25
        </span>
        <button mat-flat-button color="primary">
          <fa-icon size="1x" [icon]="['fas', 'child-reaching']"></fa-icon>
          Teilnehmen
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
