div{
  display: flex;
  gap: var(--gap);
  align-items: center;
  flex-direction: column;

  div:first-of-type{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div{
    width: 100%;
    gap: var(--gap);
    flex-direction: row;
    flex-wrap: wrap;
  }

  fa-icon:last-of-type{
    padding-right: 0.5rem;
  }
}
