<div>
  <mat-label>Bewertung {{ canDoRating ? "abgeben" : "des Events" }}</mat-label>
  <section>
  <button
    mat-icon-button
    matTooltipPosition="above"
    [color]="color"
    [disabled]="!canDoRating"
    [id]="'star_' + i"
    (click)="onClick(i + 1)"
    (mouseenter)="onHover(i + 1)"
    (mouseleave)="onHover(0)"
    *ngFor="let ratingId of ratingArr; index as i"
  >
    <fa-icon
      *ngIf="!canDoRating"
      size="1x"
      [icon]="[showIcon(i), 'star']"
    ></fa-icon>
    <fa-icon
      *ngIf="canDoRating"
      size="1x"
      [icon]="[showIcon(i, true), 'star']"
    ></fa-icon>
  </button>
  <p *ngIf="!canDoRating">
    <span>{{ rating }}</span> von
    <span>{{ starCount }}</span>
  </p>
</section>
</div>
