<main class="main">
  <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <h2 class="mat-headline-4">Registrierung</h2>
    <section>
      <div>
        <mat-form-field appearance="outline">
          <mat-label appLabel="firstName"></mat-label>
          <input matInput id="firstName" formControlName="firstName" placeholder="Max">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="lastName"></mat-label>
          <input matInput id="lastName" formControlName="lastName" placeholder="Mustermann">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="email"></mat-label>
          <input matInput id="email" formControlName="email" placeholder="m.mustermann@example.com">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label appLabel="password"></mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  id="password" formControlName="password">
          <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <fa-icon [icon]="hide ? ['far', 'eye-slash']: ['far', 'eye']"></fa-icon>
          </button>
        </mat-form-field> 
        <mat-form-field appearance="outline">
          <mat-label appLabel="passwordConfirm"></mat-label>
          <input matInput [type]="hideConfirm ? 'password' : 'text'" id="confirm" formControlName="confirm"> 
          <button mat-icon-button type="button" matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password passwordConfirm'" [attr.aria-pressed]="hideConfirm">
            <fa-icon [icon]="hideConfirm ? ['far', 'eye-slash']: ['far', 'eye']"></fa-icon>
          </button>
          <mat-error *ngIf="form.get('confirm')!.touched && form.get('confirm')!.errors?.['notSame']">Passwörter stimmen nicht überein</mat-error>
        </mat-form-field>
      </div>
        <app-hcaptcha-form formControlName="captchaToken"></app-hcaptcha-form>
      <div>
        <button mat-flat-button [disabled]="form.invalid" type="submit" mat-flat-button color="primary">
          <fa-icon [icon]=" ['far', 'envelope']"></fa-icon>
          <label appLabel="send"></label>
        </button>
        </div>
        <div>
          <p appLabel="haveAcc?"></p> 
          <a [routerLink]="['/login']" appLabel="login" postFix="»"></a>
        </div>
    </section>
  </form>
</main>