
<div class="main">
  <app-page-title titleLabel="settings"></app-page-title>

  <div class="settings-overview">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
            <mat-panel-title appLabel="notifications"></mat-panel-title>
          </span>
        </mat-expansion-panel-header>
        <section>
          <button mat-button appLabel="emailNotifications"></button>
          <button mat-button appLabel="pushNotifications"></button>
        </section>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>
            <fa-icon [icon]="['fas', 'lock']"></fa-icon>
            <mat-panel-title appLabel="dataProtection"></mat-panel-title>
          </span>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span>
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
            <mat-panel-title appLabel="profileData"></mat-panel-title>
          </span>
        </mat-expansion-panel-header>
        <section>
          <!-- <button mat-button appLabel="personalData" (click)="setComponentVisibility('personalData')"></button>
          <button mat-button appLabel="changePassword" (click)="setComponentVisibility('changePassword')"></button>
          <button mat-button appLabel="deleteAccount" (click)="setComponentVisibility('deleteAccount')"></button> -->

          <button mat-button appLabel="personalData" (click)="showPersonalData()"></button>
          <button mat-button appLabel="changePassword" (click)="showChangePassword()"></button>
          <button mat-button appLabel="deleteAccount" (click)="showDeleteAccount()"></button>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="components">
      <app-portal-personal-data-form *ngIf="showPersonalDataForm"></app-portal-personal-data-form>
      <app-portal-change-password *ngIf="showChangePasswordForm"></app-portal-change-password>
      <app-portal-delete-account-reason *ngIf="showDeleteAccountForm"></app-portal-delete-account-reason>



      <!-- <app-portal-personal-data-form *ngIf="componentVisibility.personalData"></app-portal-personal-data-form>
      <app-portal-change-password *ngIf="componentVisibility.changePassword"></app-portal-change-password>
      <app-portal-delete-account *ngIf="componentVisibility.deleteAccount"></app-portal-delete-account> -->

    </div>

  </div>
</div>




