<div class="main">
<section>
  <div class="circle">
    <app-image
      [src]="'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'"
      [circle]="true"></app-image>
  </div>
  <div>
    Steffen Kirchner
  </div>
</section>
<section>
<p>
  Tolle Veranstaltung!
</p>
<p>
  Kommentar vom 16. August 2022
</p>
<p [innerHTML]="'Lorem ipsum dolor sit amet consectetur. Sed enim sagittis turpis enim a. Malesuada ultrices odio nunc vel molestie arcu platea amet. Sit consectetur ornare non neque libero. Nunc commodo tortor scelerisque orci.'">
</p>
</section>
</div>