mat-card {
  border-radius: 0 !important;
  border: none !important;
  max-width: 35rem;
  width: 35rem;
  box-shadow: none !important;
  background-color: transparent;

  mat-card-content {
    .card-images {
      display: flex;
      margin-top: 1rem;

      .description {
        margin: 0.7rem 3rem;
        font-size: 0.9rem;
      }

      .circle {
        line-height: 0;
        display: inline-block;
        border: 0.3rem solid var(--color-primary-contrast-300);
        color: transparent;
        border-radius: 50%;
        transition: linear 0.25s;
        height: 2rem;
        width: 2rem;
        margin-right: -2.5rem;
        box-shadow: 10px 3px 47px 0px rgba(110, 110, 110, 0.2);
      }

      .circle img {
        border-radius: 50%;
      }

      .circle {
        color: transparent;
      }
    }

    .comment-title{
      font-size: 1.2rem;
      margin-top: 1rem;
      font-weight: 600;
    }

    .comment-date {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 0.85rem;
      line-height: 1.5rem;
      letter-spacing: 0.08rem;
      margin-top: 1rem;
    }

    .comment-description{
      margin-top: 0.6rem;
      line-height: 1.5rem;
    }
  }
}
