.main{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

section:first-of-type{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.circle{
  //todo: change aspect-ratio in html.
  width: 2rem;
  height: 2rem;
}

section:last-of-type{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  *{
    width: 100%;
  }

  p:first-child{
    font-weight: bold;
  }

  p:nth-of-type(2){
    color: var(--color-neutral);
  }
}


