:host {
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

mat-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 30rem;
  max-width: calc(100% - 2rem);
  height: 10rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: unset;
  max-width: 16rem;
}

figure {
 display: flex;
 flex: 2 1 auto;
 max-width: 10rem;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
  flex-wrap: wrap;

  * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}