.reviews {
  display: inline-flex;
  margin-left: 0;
  width: 100%;
  box-shadow: none !important;
  background: transparent;
  flex-wrap: wrap;

  mat-card-content{
    padding: none;
  }

  .bar-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 2rem;
  }

  mat-label:last-of-type{
    margin-left: auto;
  }

  .mdc-linear-progress {
    width: 50%;
    margin-left: 2rem !important; 
    margin-right: 2rem !important;
  }

  ::ng-deep .mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: transparent;
  }

  ::ng-deep .mdc-linear-progress__bar-inner {
    border-top-width: var(--mdc-linear-progress-track-height, 1rem);
  }

  ::ng-deep .mdc-linear-progress {
    height: var(--mdc-linear-progress-track-height, 1rem);
  }

  ::ng-deep .mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: var(--color-evaluation);
  }
}