.main {
  display: flex;
  flex-flow: column;
  gap: var(--gap);

  section:first-of-type{
   max-height: 30rem;
   display: flex;
   app-image{
    flex: 2 1 auto;
   }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    section {
      width: 100vw;
      justify-content: center;
      display: flex;

      *{
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 2 1 auto;
        padding: 2.5%;
        max-width: 45rem;
      }
    }

    .grey-section {
      background: var(--color-background);
      clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
    }
  }
}

::ng-deep main {
  background-color: var(--color-primary-contrast-300);  //TODO: differentMain classes 
}

