<div class="main">
  <div class="event">

    <div *ngIf="!media" class="gradientImage"></div>
    <img *ngIf="media" [appMedia]="media" alt="author-titleImage">

    <app-event-card-detail></app-event-card-detail>

    <app-event-participants></app-event-participants>

    <div>
      <mat-card-title>Einrichtung</mat-card-title>
      <app-contact-card></app-contact-card>
    </div>

    <app-card-slider></app-card-slider>

    <app-event-evaluation></app-event-evaluation>

    <app-comment *ngIf="latestComment" [comment]="latestComment"></app-comment>

    <div>
      <app-comment-button [organisationId]="event?.organisation?.id"></app-comment-button>
      <a [routerLink]="['/comments']" appLabel="allComments" suffix="»"></a>
    </div>
  </div>
</div>