<div>
  <fa-icon size="10x" [icon]="['fas', 'cookie-bite']"></fa-icon>
  <div class="content">
    <span class="headline" matSnackBarLabel>
      Datenschutzeinstellungen
    </span>
    <span matSnackBarLabel>
      Wir verwenden Cookies, um Ihnen die bestmögliche Nutzungserfahrung zu bieten. Sie stimmen der Nutzung von Cookies und
      unseren Datenschutzbestimmungen zu.
    </span>
  </div>
</div>
<span matSnackBarActions>
  <button mat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()" appLabel="cookieSettings"></button>
  <button mat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()" appLabel="onlyNecessaryCookies"></button>
  <button mat-flat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()" appLabel="acceptAll"></button>
</span>