fa-icon {
  color: var(--color-primary-contrast-900);
}

div {
  display: flex;
  padding: var(--gap);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  font-size: 1.25rem;
  font-weight: 600;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap) var(--gap)
}

.mdc-snackbar__label {
  padding: 0;
}

